.about, .wine {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 10rem 0;
  font-size: 200%;
  margin: 2% auto;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: auto;
  margin-bottom: 70px;
}

.section-title, .blurb {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin: 2rem 0.8rem;
}

.section-title {
  font-size: 3rem;
  font-weight: 400;
}

.section-title span:hover {
  color: black;
  -webkit-text-stroke: 1px black;
}

.blurb {
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 55%;
}

hr {
  width: 28%;
  color: black;
  border-style: solid;
  border-width: 1.5px;
}

.leaf {
  color: black;
  font-size: 140%;
}

.button.is-hovered, .button:hover {
  border-color: black;
  color: #363636;
  font-weight: 500;
}

.top-link {
  font-size: 0.8rem;
  margin: auto 0;
  text-align: right;
  padding-right: 2%;
}

body {
  font-family: 'Quicksand', sans-serif;
}

p {
  color: black;
  font-size: 1rem;
}

.hero p {
  color: white;
  font-size: 6rem;
  line-height: 120%;
  font-family: 'IM Fell English', serif;
  -webkit-text-stroke: 1px black;
}

.hero p.kia-ora {
  font-size: 1800%;
  font-weight: 300;
  -webkit-text-stroke: 2px black;
}

.hero p.welcome {
  text-align: center;
  font-size: 500%;
  margin: auto;
  margin-bottom: 4%;
}

.hero span.waipara {
  text-align: right;
  font-size: 100%;
}

.hero .fas {
  color: rgba(255, 255, 255, 0.9);
  font-size: 300%;
}

.hero span:hover {
  color: white;
  -webkit-text-stroke: 0 white;
}

.hero .fas:hover {
  color: white;
  -webkit-text-stroke: 2px white;
}

.footer {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 0;
  position: fixed;
  bottom: -100px;
  width: 100%;
  color: white;
  font-size: 120%;
  text-align: left;
  -webkit-transition: bottom 0.8s ease;
  transition: bottom 0.8s ease;
}

.footer a {
  color: white;
}

.footer .social-media {
  margin: 0 auto;
}

.footer .social-media a {
  font-size: 130%;
  border: none;
}

.footer .tabs {
  padding-top: 10px;
  padding-bottom: 6px;
}

.footer .tabs ul {
  border: none;
}

.footer a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.footer #contact-info {
  display: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  padding-bottom: 1%;
  border-top: white solid 1px;
}

.footer .hours {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .hours .title {
  margin-bottom: 0.8rem;
  padding-top: 0;
}

.footer .button {
  max-width: 80%;
  margin-top: 10px;
}

.footer .address, .footer .hours {
  margin-top: 8%;
}

.footer .map {
  margin-top: 6%;
  margin-bottom: 5%;
}

.footer .address, .footer .email-link, .footer .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 2%;
}

.footer .address div, .footer .email-link div, .footer .phone div {
  margin-left: 4%;
}

.footer .email-link {
  text-decoration: underline;
}

.hero {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(255, 255, 255, 0)), color-stop(30%, rgba(0, 0, 0, 0.65))), url("../../img/view_transparent.png") center/cover;
  background: linear-gradient(rgba(255, 255, 255, 0) 10%, rgba(0, 0, 0, 0.65) 30%), url("../../img/view_transparent.png") center/cover;
}

.hero .navbar {
  position: fixed;
  top: 0;
  -webkit-transition: top 0.8s ease, background 0.8s ease;
  transition: top 0.8s ease, background 0.8s ease;
  width: 100%;
}

.hero .navbar-item img {
  padding-top: 4%;
  padding-bottom: 2%;
  max-height: 4rem;
}

.hero .navbar-burger {
  height: auto;
}

.hero .tabs a {
  border-bottom: none;
  font-size: 1.2em;
  font-weight: 450;
}

.hero .tabs li.is-active a {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 600;
  font-size: 130%;
}

.hero .tabs li a:hover {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 600;
}

.landing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  margin: auto;
}

.inline-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  height: auto;
  width: auto;
}

.about img {
  margin: 6rem inherit;
  max-width: 100%;
  height: auto;
  border-top: solid black 0.5rem;
  border-bottom: solid black 0.5rem;
}

.wine {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 200%;
  background: rgba(0, 0, 0, 0.05);
  margin-bottom: 10%;
}

.wine figure {
  padding: 0;
  margin: 1rem 2rem;
}

.wine img {
  max-height: auto;
  width: 60%;
  margin: auto;
  margin-bottom: 14%;
  padding: 0;
}

.wine .columns {
  margin: 6rem auto;
  margin-top: 0;
}

.wine .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wine .wine-background {
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.wine .button {
  margin-top: 1rem;
  background: white;
}

.wine .title {
  font-size: 80%;
}

.wine .title.specials {
  color: black;
}

.wine .title:hover {
  -webkit-text-stroke: 0.4px #363636;
}

.wine .dropdown-content {
  width: 35%;
}

.wine .fas:hover {
  color: black;
}
/*# sourceMappingURL=main.css.map */